@tailwind base;
@tailwind components;
@tailwind utilities;

    

@layer base {
  
:root  {
  --background: 69 0% 95%;
  --foreground: 69 0% 4%;
  --card: 69 0% 90%;
  --card-foreground: 69 0% 10%;
  --popover: 69 0% 95%;
  --popover-foreground: 69 95% 4%;
  --primary: 69 100% 74.9%;
  --primary-foreground: 0 0% 0%;
  --secondary: 69 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 31 10% 85%;
  --muted-foreground: 69 0% 35%;
  --accent: 31 10% 80%;
  --accent-foreground: 69 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 69 0% 90%;
  --border: 69 20% 50%;
  --input: 69 20% 18%;
  --ring: 69 100% 74.9%;
  --radius: 0.75rem;
}
.dark  {
  --background: 69 10% 5%;
  --foreground: 69 0% 90%;
  --card: 69 0% 4%;
  --card-foreground: 69 0% 90%;
  --popover: 69 10% 5%;
  --popover-foreground: 69 0% 90%;
  --primary: 69 100% 74.9%;
  --primary-foreground: 0 0% 0%;
  --secondary: 69 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 31 10% 15%;
  --muted-foreground: 69 0% 60%;
  --accent: 31 10% 15%;
  --accent-foreground: 69 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 69 0% 90%;
  --border: 69 20% 18%;
  --input: 69 20% 18%;
  --ring: 69 100% 74.9%;
  --radius: 0.75rem;
}
}

@layer base {
  :root {
    --background: 69 0% 95%;
    /* 其他变量定义 */
  }
  .dark {
    --background: 69 10% 5%;
    /* 其他暗色主题变量定义 */
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-[hsl(var(--background))] text-foreground;
  }
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@layer utilities {
  .border-border {
    border-color: hsl(var(--border));
  }
  .bg-background {
    background-color: hsl(var(--background));
  }
  .text-foreground {
    color: hsl(var(--foreground));
  }
  .bg-card {
    background-color: hsl(var(--card));
  }
  .text-card-foreground {
    color: hsl(var(--card-foreground));
  }
  .bg-popover {
    background-color: hsl(var(--popover));
  }
  .text-popover-foreground {
    color: hsl(var(--popover-foreground));
  }
  .bg-primary {
    background-color: hsl(var(--primary));
  }
  .text-primary-foreground {
    color: hsl(var(--primary-foreground));
  }
  .bg-secondary {
    background-color: hsl(var(--secondary));
  }
  .text-secondary-foreground {
    color: hsl(var(--secondary-foreground));
  }
  .bg-muted {
    background-color: hsl(var(--muted));
  }
  .text-muted-foreground {
    color: hsl(var(--muted-foreground));
  }
  .bg-accent {
    background-color: hsl(var(--accent));
  }
  .text-accent-foreground {
    color: hsl(var(--accent-foreground));
  }
  .bg-destructive {
    background-color: hsl(var(--destructive));
  }
  .text-destructive-foreground {
    color: hsl(var(--destructive-foreground));
  }
}

/* Infinite Moving Cards */
.animate-gradient {
  animation: gradient 5s ease infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

.animate-scroll {
  animation: scroll var(--animation-duration, 50s) var(--animation-direction, forwards) linear infinite;
}


.theme-dracula.light {
  --background: 231, 15%, 100%;
  --foreground: 60, 30%, 10%;

  --muted: 232, 14%, 98%;
  --muted-foreground: 60, 30%, 20%;

  --popover: 231, 15%, 94%;
  --popover-foreground: 60, 30%, 20%;

  --border: 232, 14%, 31%;
  --input: 225, 27%, 51%;

  --card: 232, 14%, 98%;
  --card-foreground: 60, 30%, 5%;

  --primary: 265, 89%, 78%;
  --primary-foreground: 60, 30%, 96%;

  --secondary: 326, 100%, 74%;
  --secondary-foreground: 60, 30%, 96%;

  --accent: 225, 27%, 70%;
  --accent-foreground: 60, 30%, 10%;

  --destructive: 0, 100%, 67%;
  --destructive-foreground: 60, 30%, 96%;

  --ring: 225, 27%, 51%;
}

.theme-dracula.dark {
  --background: 0 0% 7%;
  --foreground: 0 0% 100%;

  --muted: 232, 14%, 31%;
  --muted-foreground: 60, 30%, 96%;

  --popover: 231, 15%, 18%;
  --popover-foreground: 60, 30%, 96%;

  --border: 232, 14%, 31%;
  --input: 225, 27%, 51%;

  --card: 0 0% 9%;
  --card-foreground: 0 0% 100%;

  --primary: 69 100% 75%;
  --primary-foreground: 60, 30%, 96%;

  --secondary: 0 0% 22%;
  --secondary-foreground: 0 0% 100%;

  --accent: 69 100% 75%;
  --accent-foreground: 0 0% 0%;

  --destructive: 69 100% 75%;
  --destructive-foreground: 0 0% 16%;

  --ring: 69 100% 70%;
  --radius: 0.5rem;
}

/* styles/globals.css */
.cookie-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #2B373B;
  color: #EBFF7F;
}

.cookie-content {
  font-size: 14px;
  max-width: 80%;
}

.cookie-button {
  background-color: #ebff7f;
  color: #000;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 20px;
}